snippet mod
	--! -----------------------------------------------------------------------
	--! doc 
	--! -----------------------------------------------------------------------
	--! @file 	`system("pwd")`/`Filename()`
	--! @brief
	--! @author 	Olivier LEMAIRE (olivier.lemaire@subatech.in2p3.fr)
	--! @date 	`system("date +%Y-%m-%d")` (YYYY-MM-DD)
	--! 
	--! @details 
	--! @param[in/out/generic]
	--! 
	--! @todo
	--! @warning
	--! @bug
	--! -----------------------------------------------------------------------
	--!  librairies declaration 
	--! -----------------------------------------------------------------------
	library ieee;
	use ieee.std_logic_1164.all;
	-- ------------------------------------------------------------------------
	-- entity
	-- ------------------------------------------------------------------------
	entity ${1:entity_name} is 
	    -- generic ( -- please declare generics here);
	    -- 
	    port ( 
		-- please declare your ports here
	    );
	end entity;

	-- ------------------------------------------------------------------------
	-- architecture
	-- ------------------------------------------------------------------------
	architecture ${2:arch_name} of ${3:$1} is
	    -- internal signals declaration
	begin
	end architecture;
	-- ------------------------------------------------------------------------
	-- end of the file
	-- ------------------------------------------------------------------------
