snippet mod
	--! -----------------------------------------------------------------------
	--! doc 
	--! -----------------------------------------------------------------------
	--! @file 	`system("pwd")`/`Filename()`
	--! @brief
	--! @author 	Olivier LEMAIRE (olivier.lemaire@subatech.in2p3.fr)
	--! @date 	`system("date +%Y-%m-%d")` (YYYY-MM-DD)
	--! 
	--! @details 
	--! @param[in/out/generic]
	--! 
	--! @todo
	--! @warning
	--! @bug
	--! -----------------------------------------------------------------------
	--!  librairies declaration 
	--! -----------------------------------------------------------------------
	library ieee;
	use ieee.std_logic_1164.all;
	-- ------------------------------------------------------------------------
	-- entity
	-- ------------------------------------------------------------------------
	entity ${1:entity_name} is 
	    -- generic ( -- please declare generics here);
	    -- 
	    port ( 
		-- please declare your ports here
	    );
	end entity;

	-- ------------------------------------------------------------------------
	-- architecture
	-- ------------------------------------------------------------------------
	architecture ${2:arch_name} of ${3:$1} is
	    -- internal signals declaration
	begin
	end architecture;
	-- ------------------------------------------------------------------------
	-- end of the file
	-- ------------------------------------------------------------------------
# testbench snippet 
snippet tb 
	--! -----------------------------------------------------------------------
	--! doc 
	--! -----------------------------------------------------------------------
	--! @file 		`system("pwd")`/`Filename()`
	--! @brief		This is a testbench
	--! @author 	Olivier LEMAIRE (olivier.lemaire@subatech.in2p3.fr)
	--! @date 		`system("date +%Y-%m-%d")` (YYYY-MM-DD)
	--! 
	--! @details 
	--! @param[in/out/generic]
	--! 
	--! @todo
	--! @warning
	--! @bug
	--! -----------------------------------------------------------------------
	--!  librairies declaration 
	--! -----------------------------------------------------------------------
	library ieee;
	use ieee.std_logic_1164.all;
	-- ------------------------------------------------------------------------
	-- entity
	-- ------------------------------------------------------------------------
	entity ${1:entity_name} is 
	    -- generic ( -- please declare generics here);
	    -- 
		-- should be no port in a testbench 
	    -- port ( 
		-- -- please declare your ports here
	    -- );
	end entity;
	-- ------------------------------------------------------------------------
	-- architecture
	-- ------------------------------------------------------------------------
	architecture ${2:arch_name} of ${3:$1} is 
		-- --------------------------------------------------------------------
		-- DUT declaration 
		-- --------------------------------------------------------------------
		component DEVICE_NAME is 
			-- generic ( -- please enter you generics );
			port ( -- please enter your ports );
		end component;
		-- --------------------------------------------------------------------
	    -- internal signals declaration
		-- --------------------------------------------------------------------
		-- signal sig_tb: std_logic[_vector] := '0';
	begin
		-- --------------------------------------------------------------------
	    -- device instantiation
		-- --------------------------------------------------------------------
		dut: DEVICE_NAME 
			-- generic map ();
			port  map (dev_port => tb_port,...);
		-- --------------------------------------------------------------------
	    -- stimuli generation
		-- --------------------------------------------------------------------
	end architecture;
	-- ------------------------------------------------------------------------
	-- end of the file
	-- ------------------------------------------------------------------------
